<%= error_messages_for(@customer) %>
<div class="row form-group">
  <label for="name" class="col-xs-3 control-label">Name</label>
  <div class="col-xs-9">
  	<%= f.text_field(:name, :placeholder => "Enter English text only", :class => 'col-xs-9') %>
  </div>
</div>

<div class="row form-group">
  <label for="email" class="col-xs-3 control-label">Email</label>
  <div class="col-xs-9">
    <%= f.text_field(:email, :placeholder => "Enter email", :class => 'col-xs-9') %>
   </div>
</div>

<div class="row form-group">
  <label for="phone" class="col-xs-3 control-label">Phone</label>
  <div class="col-xs-9">
    <%= f.text_field(:phone, :placeholder => "Enter number without -'s", :class => 'col-xs-9') %>
  </div>
</div>

<div class="row form-group">
  <label for="current" class="col-xs-3 control-label">Current</label>
  <div class="col-xs-9">
    <%= f.check_box(:current) %>
  </div>
</div>