<%= error_messages_for(@customer) %>
<table summary="Customer form fields" class="table">
  <tr>
    <th><label for="name" class="col-xs-3 control-label">Name</label></th>
    <td><%= f.text_field(:name, :class => "form-control", :placeholder => "Enter English text only") %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= f.text_field(:email, :class => "formFieldText", :placeholder => "Enter email") %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= f.text_field(:phone, :class => "formFieldText", :placeholder => "Enter number without -'s") %></td>
  </tr>
  <tr>
    <th>Current</th>
    <td><%= f.check_box(:current, :class => "formFieldCheckBox") %></td>
  </tr>
</table>
