<%= error_messages_for(@appointment_log) %>
<% if @viewForAllCustomers %>
<div class="row form-group">
  <label for="customer_id" class="col-xs-3 control-label">Customer</label>
  <div class="col-xs-9">
  	<%= f.select(:customer_id, Customer.all.map {|c| [c.name, c.id]})%></td>
  </div>
</div>
<% else %>
  <%= f.hidden_field(:customer_id, :value => @customer.id) %>
<% end %>
<div class="row form-group">
  <label for="date" class="col-xs-3 control-label">Date</label>
  <div class="col-xs-9">
  	<%= f.date_select(:date, {:order => [:day, :month, :year], :use_short_month => true} ) %>	
  </div>
</div>

<div class="row form-group">
  <label for="chargeable" class="col-xs-3 control-label">Chargeable</label>
  <div class="col-xs-9">
    <%= f.check_box(:chargeable) %>
  </div>
</div>

<div class="row form-group">
  <label for="notes" class="col-xs-3 control-label">Notes</label>
  <div class="col-xs-9">
  	<%= f.text_area(:notes, :rows => 5, :style => 'overflow-y: scroll; resize: none;', :class => 'col-xs-9') %>
  </div>
</div>