<% @page_title = "Class Logs" %>

<div class="panel panel-default">
  <div class="panel-heading">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <%= @page_title %><%= !@viewForAllCustomers ? ' - ' + @customer.name : '' %>
      <span class="btn-group pull-right">
        <% if @viewForAllCustomers %>
          <%= link_to("New", {:action => 'new', :customer_id => 'true'}, :class => 'btn btn-warning btn-xs') %>
        <% else %>
          <%= link_to("New", {:action => 'new', :customer_id => @customer.id}, :class => 'btn btn-warning btn-xs') %>
          <%= link_to("View all customers", {:action => 'index'}, :class => 'btn btn-warning btn-xs') %>
        <% end %>
      </span>
  </div>

      <table class="table table-striped table-hover">
        <tr>
        <% if @viewForAllCustomers %>
          <th>&nbsp;Customer</th>
        <% end %>
          <th>&nbsp;Date</th>
          <th>$</th>
          <th>Notes</th>
        </tr>
      <% @appointment_logs.sorted.each do |a| %>
        <tr>
        <% if @viewForAllCustomers %>
          <td>&nbsp;<%= link_to(a.customer.name, :controller => 'customers', :action => 'show', :id => a.customer.id) %></td>
        <% end %>
          <td>&nbsp;<%= a.date.strftime('%d %B, \'%y') %></td>
          <td><%= a.chargeable ? raw('&#10003;') : raw('&#10005;') %></td>
          <td><%= link_to(truncate(a.notes, :limit => 25, :omitted => '...'), {:action => 'show', :customer_id => a.customer_id, :id => a.id}) %></td>
        </tr>
      <% end %>
      </table>
      <div class="panel-footer text-success"><%= pluralize(@appointment_logs.size, 'appointment log') %> found</div>
</div>
