<% @page_title = "New Class Log" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <%= @page_title %><%= !@viewForAllCustomers ? raw(' - ' + link_to(@customer.name, :controller => 'customers', :action => 'show', :id => @customer.id)) : '' %>
  </div>
  <div class="panel-body">
<%= form_for(:appointment_log, :url => {:action => 'create'}) do |f| %>

<%= render(:partial => 'form', :locals => {:f => f})%>

<%= submit_tag("Create Appointment Log", :class => 'form-control btn btn-primary btn-md')%>

<% end %>
  </div>
</div>
