<% @page_title = "Appointment Log View" %>
<header>
	<%= @customer.name %> - <%= @page_title %>
	<span id="titleEditLinkSpan">
		<%= link_to("Edit", {:action => 'edit', :customer_id => @appointment_log.customer_id, :id => @appointment_log.id}, :class => 'actionLinkClass') %>
		<%= link_to("Delete", {:action => 'delete', :customer_id => @appointment_log.customer_id, :id => @appointment_log.id}, :class => 'actionLinkClass') %>
	</span>
</header>
<%= render(:partial => 'show') %>
