<% @page_title = "Payments" %>


<div class="panel panel-default">
  <div class="panel-heading">

      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
      <%= @page_title %><%= !@viewForAllCustomers ? ' - ' + @customer.name : '' %>
      <span class="btn-group pull-right">
        <% if @viewForAllCustomers %>
          <%= link_to("New", {:action => 'new', :customer_id => 'true'}, :class => 'btn btn-warning btn-xs') %>
        <% else %>
          <%= link_to("New", {:action => 'new', :customer_id => @customer.id}, :class => 'btn btn-warning btn-xs') %>
          <%= link_to("View all customers", {:action => 'index'}, :class => 'btn btn-warning btn-xs') %>
        <% end %>
      </span>

  </div>

<table class="table table-striped"> 
  <tr>
  <% if @viewForAllCustomers %>
    <th>&nbsp;&nbsp;Customer</th>
  <% end %>
    <th>&nbsp;&nbsp;Date</th>
    <th>Amount (&#8361;)</th>
  </tr>
<% @payments.sorted.each do |p| %>
  <tr>
  <% if @viewForAllCustomers %>
    <td>&nbsp;&nbsp;<%= link_to(p.customer.name, :controller => 'customers', :action => 'show', :id => p.customer.id) %></td>
  <% end %>
    <td>&nbsp;&nbsp;<%= p.date.strftime('%d %b, \'%y') %></td>
    <td><%= link_to(p.amount, {:action => 'show', :customer_id => p.customer_id, :id => p.id}) %></td>
  </tr>
<% end %>
</table>

<div class="panel-footer text-success"><%= pluralize(@payments.size, 'payment') %> found</span>
</div>
