<% @page_title = "Appointment Delete" %>

<div class="panel panel-default">
  <div class="panel-heading">    
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <%= @page_title %><%= !@viewForAllCustomers ? raw(' - ' + link_to(@customer.name, :controller => 'customers', :action => 'show', :id => @customer.id)) : '' %>
    <span class="pull-right">  
      <%= link_to("Confirm Delete", {:action => 'destroy', :customer_id => @appointment.customer_id, :id => @appointment.id}, :class => 'btn btn-danger btn-xs') %>
    </span>
  </div>
  <div class="panel-body">
    <p id="predeletewarning">Are you sure that you wish to delete <b><em><%= @customer.name %>'s'</em></b> 
    <%= Date::DAYNAMES[@appointment.day]%> appointment from 
    <%= @appointment.start_time.strftime('%H:%M') %> - <%= @appointment.finish_time.strftime('%H:%M') %>?</p>
  </div>
</div>
