<% @page_title = "Appointment Edit" %>
<div class="panel panel-default">
  <div class="panel-heading">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <%= @page_title %><%= !@viewForAllCustomers ? raw(' - ' + link_to(@customer.name, :controller => 'customers', :action => 'show', :id => @customer.id)) : '' %>
  </div>
  <div class="panel-body">
    <%= form_for(:appointment, :url => {:action => 'update', :id => @appointment.id}) do |f| %>
    
    <%= render(:partial => 'form', :locals => {:f => f})%>

    <%= submit_tag("Update appointment", :class => 'form-control btn btn-primary btn-md')%>

    <% end %>
  </div>
</div>
