<% @page_title = "Appointments" %>
<header>
<% if @viewForAllCustomers %>

All Customers - <%= @page_title %>
	<span id="titleEditLinkSpan">
		<%= link_to("New", {:action => 'new', :customer_id => 'true'}, :class => 'actionLinkClass') %>
	</span>


<% else %>

<%= @customer.name %> - <%= @page_title %>
	<span id="titleEditLinkSpan">
		<%= link_to("New", {:action => 'new', :customer_id => @customer.id}, :class => 'actionLinkClass') %>
	</span>		
<% end %>
</header>
<%= !@viewForAllCustomers ? link_to("View all customer appointments", :action => 'index') : '' %>
<table class="calendarTableClass">
	<tr>
	<% 7.times do |i| %>
		<th><%= Date::DAYNAMES[i].slice(0..2)%></th>
	<% end %>
	</tr>
	<tr>
	<% 7.times do |i| %>
		<td>
		<% @appointments.sorted.each do |a| %>
			<% if i == a.day %>
				<div class="calendarItem">
					<%= link_to(raw(a.start_time.strftime('%H:%M') + ' - ' + a.finish_time.strftime('%H:%M') + "<br>" + a.customer.name), :action => 'show', :customer_id => a.customer.id, :id => a.id) %>
				</div>
			<% end %>
		<% end %>
		</td>
	<% end %>
	</tr>
</table>
<span class="recordCount"><%= pluralize(@appointments.size, 'appointment') %> found</span>