<% @page_title = "New Appointment" %>

<div class="panel panel-default">
    <div class="panel-heading">

      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <%= @page_title %><%= !@viewForAllCustomers ? raw(' - ' + link_to(@customer.name, :controller => 'customers', :action => 'show', :id => @customer.id)) : '' %>
    </div>
    <div class="panel-body">
    <%= form_for(:appointment, :url => {:action => 'create'}) do |f| %>
    
      <%= render(:partial => 'form', :locals => {:f => f})%>

      <%= submit_tag("Create appointment", :class => 'form-control btn btn-primary btn-md')%>

    <% end %>
