<% @page_title = "Appointment" %>
<div class="panel panel-default">
  <div class="panel-heading">
    
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <%= @page_title %><%= !@viewForAllCustomers ? raw(' - ' + link_to(@customer.name, :controller => 'customers', :action => 'show', :id => @customer.id)) : '' %>

      <span class="btn-group pull-right">
        <%= link_to("Edit", {:action => 'edit', :customer_id => @appointment.customer_id, :id => @appointment.id}, :class => 'btn btn-xs btn-warning') %>
        <%= link_to("Delete", {:action => 'delete', :customer_id => @appointment.customer_id, :id => @appointment.id}, :class => 'btn btn-xs btn-warning') %>
      </span>
    
  </div>

    <%= render(:partial => 'show') %>
</div>
