<!DOCTYPE html>
<html lang="en">
  <head>
     <meta http-equiv="Content-Type" content="text/html">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>viaCode - Customer Management | <%= @page_title || "Admin" %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
      <%= javascript_include_tag('application') %>
  </head>
  <body id="<%= controller_name %>">
    <section class="container-fluid">
    <%= render(:partial => 'application/header') %>
    <% if !flash.blank? %>
      <div class="bg-success">
        <center><%= raw flash[:notice] %></center>
      </div><!-- notice -->
    <% end %>
    <div class="content row">
         <section class="main col col-xs-12">
        <div id="content">
           <%= yield %>
        </div><!-- content -->
      </section>
    </div>

    <%= render(:partial => 'application/footer') %>  
  </section>
</body>
</html>
